@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "4K Image Gallery";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6 vis">
            <img class="thumbnail" src="~/images/0.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/13658.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/138242-gorgerous-4k-abstract-wallpaper-3840x2160-picture.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/1384285449.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/188886.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/188893.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/400576.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/4907-full_fast-and-furious-wallpaper-77-images.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/4946-full_fast-and-furious-cars-wallpaper-wallpapertag.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/4966-full_fast-and-furious-7-background-babangrichie-org.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/4k Desktop Wallpapers 2070.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/5225445-0338235333-marve.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/5317631-fury-wallpaper.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/641040.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/68539.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/78532-5169x3448-deckard-shaw-dwayne-johnson-fast-amp-furious-presents-hobbs-amp-shaw-hattie-shaw-jason-statham-luke-hobbs-vanessa-kirby.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/78542-4680x3120-deckard-shaw-dwayne-johnson-fast-amp-furious-presents-hobbs-amp-shaw-jason-statham-luke-hobbs.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/799794.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/Area_IconHeader_Sys_Prog_11_2019_1920x7204.png" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/artificial-intelligence-at-northwestern-header.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/avengers-infinity-thanos-4k-widescreen-desktop-wallpaper-922-941-hd-wallpapers.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/avengers-infinity-war-4k-desktop-wallpaper-917-936-hd-wallpapers.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/baby-groot-4k-hd-superheroes-wallpaper-preview.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/C-programming-1024x530.png" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/Screenshot (2).png" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/How-to-learn-any-programming-language-faster-Here-are-some-tips-to-keep-in-mind.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/Image-01-01.png" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/ocean-wallpapers-photo-pictures-desktop-wallpapers-hd-4k-high-definition-mac-apple-colourful-images-backgrounds-free-1920x1080.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/Programming-and-its-ways.png" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/S9Mj5u9.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/spiderman-superhero-4k.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/thumb-1920-948864.jpg" style="width:100%; height:240px" alt="not available" />
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="thumbnail" src="~/images/wp1911662.jpg" style="width:100%; height:240px" alt="not available" />
        </div>

    </div>
</div>